.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }


body {
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
  color: #5a5a5a;
  font-family: 'Satisfy', cursive;
  /* font-size: 40px;
  font-weight: 600; */

}
